@font-face {
  font-family: 'SST';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-light';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-condensed';
  src: url("../fonts/SST/Condensed.ttf") format("truetype"); }

.map-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25px; }

.map {
  width: 500px;
  border: 1px solid white;
  height: 250px;
  margin: 0 20px; }
