@font-face {
  font-family: 'SST';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-light';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-condensed';
  src: url("../fonts/SST/Condensed.ttf") format("truetype"); }

body {
  margin: 1em 3em; }

.info-container {
  display: flex; }

.left {
  width: 66%; }

.right {
  margin-left: auto; }

.page {
  background-color: #fff; }
