@font-face {
  font-family: 'SST';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-light';
  src: url("../fonts/SST/Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'SST-condensed';
  src: url("../fonts/SST/Condensed.ttf") format("truetype"); }

.weather {
  font-family: 'SST-light';
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
  width: 66%;
  float: left; }
  .weather .wrapper {
    margin-top: 15px; }

.location {
  font-family: 'SST-condensed';
  font-size: 3rem;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px; }

.current-temp {
  font-size: 10rem;
  float: left;
  width: 25%;
  margin-top: -40px;
  text-align: right; }

.current-weather {
  float: left;
  width: 25%; }
  .current-weather canvas {
    width: 175px; }

.current-conditions {
  float: left;
  width: 50%;
  font-family: 'SST-condensed';
  font-size: 1.5em; }

.tempsForecastWrapper {
  display: flex;
  clear: both;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 135px; }

.temps {
  width: 75%;
  display: flex;
  font-family: 'SST-condensed'; }

.tempContainer {
  float: left;
  width: 10px;
  margin-right: 10px;
  align-self: flex-end; }

.hourlyGraph {
  background: white; }

.hourlyTime {
  text-align: center; }

.daytime {
  background: rgba(244, 247, 45, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); }

.nighttime {
  background: rgba(0, 100, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5); }

.forecast {
  width: 25%;
  margin-top: -3em; }

.forecastDay {
  font-family: 'SST-condensed';
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 10px; }

.forecastHiLo-Hi {
  margin-right: 10px;
  background: rgba(244, 247, 45, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 10px; }

.forecastDOW {
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75); }

.forecastHiLo-Lo {
  background: rgba(0, 100, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 10px;
  margin-right: 10px; }

.forecastCondition {
  text-align: center; }
  .forecastCondition canvas {
    width: 75px; }

.hiLo {
  font-size: 1.25em; }

.hiLo-hi {
  color: #e4c21a;
  font-size: 1.5em; }

.hiLo-lo {
  color: rgba(85, 151, 255, 0.76);
  font-size: 1.25em; }
