// Colors
//
// All Sass color variables prefixed with $color-.
// This makes it easy to figure out what a variable
// is for later.

// Base Colors
$color-white: #fff;
$color-black: #000;

$color-blue-light: rgba(0,100,255,.25);
$color-orange-light: rgba(244, 247, 45, 0.25);
