//=======================================================
// Variables
//=======================================================

// z-index values.
$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

// The transition timing used on links etc. 
// Added as : transition: property (eg. color) $trans.
$transition: 0.4s ease-in-out;
