// Map
//
// Map wrapper styles used site wide.

// Import site utilities.
@import '../../global/utils/init';

.map-wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 25px;
}
.map {
 width: 500px;
 border: 1px solid white;
 height: 250px;
 margin: 0 20px;
}
.weather-map {

}
.traffic-map {

}
