// Weather
//
// Weather wrapper styles used site wide.

// Import site utilities.
@import '../../global/utils/init';

.weather {
  @include font-stack-light;
  color: $color-white;
  @include text-shadow-light;
  width: 66%;
  float: left;

  .wrapper {
    margin-top: 15px;
  }
}
.location {
  @include font-stack-condensed;
  font-size: $font-size-48;
  border-bottom: 1px solid $color-white;
  padding-bottom: 3px;
}
.current-temp {
  font-size: $font-size-100;
  float: left;
  width: 25%;
  margin-top: -40px;
  text-align: right;
}
.current-weather {
  float: left;
  width: 25%;

  canvas {
    width: 175px;
  }
}
.current-conditions {
  float: left;
  width: 50%;
  @include font-stack-condensed;
  font-size: 1.5em;
}
.temps {
  clear: both;
  display: flex;
  margin-top: 135px;
  @include font-stack-condensed;
  justify-content: center;
}
.tempContainer {
  float: left;
  width: 10px;
  margin-right: 10px;
  align-self: flex-end;
}
.hourlyGraph {
  background: white;
}
.daytime {
  background: rgba(244, 247, 45, 0.25);
  border: 1px solid rgba(255,255,255,.5);
}
.nighttime {
  background: rgba(0,100,255,.25);
  border: 1px solid rgba(255,255,255,.5);
}
.forecast {
  margin-top: 3em;
}
.forecastDay {
  float: left;
  width: 20%;
  @include font-stack-condensed;
}
.forecastDOW {
  font-size: 2em;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .75);
}
.forecastCondition {
  text-align: center;

  canvas {
    width: 75px;
  }
}
.hiLo {
  font-size: 1.25em;
}
.hiLo-hi {
  color: rgb(228, 194, 26);
  font-size: 1.5em;
}
.hiLo-lo {
  color: rgb(34, 48, 148);
  font-size: 1.25em;
  text-shadow: 0px 0px;
}
