// Page
//
// Page wrapper styles used site wide.

// Import site utilities.
@import '../../global/utils/init';

body {
  margin: 1em 3em;
}

.info-container {
  display: flex;
}
.left {
  width: 66%;
}
.right {
  margin-left: auto;
}
.page {
  background-color: $color-white;
}
